.xui_page_content{
    span{
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        min-width: 24px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        -webkit-box-sizing: initial;
                box-sizing: initial;
        padding: 0 4px;
        display: inline-block;
        border: 1px solid #d9d9d9;
        margin-right: 8px;
        font-family: consolas;
        cursor: pointer;
        &.xui_page_selected{
            background: #4eb900;
            color: #fff;
            border-color: #4eb900;
        }
        &.xui_page_valid{
            cursor: pointer;
        }
        &.xui_page_invalid{
            cursor: not-allowed;
            color: rgba(0, 0, 0, 0.5);
        }
        &.xui_page_initial{
            cursor: initial;
            border: none;
        }
        &.xui_page_valid:hover{
            border-color: #4eb900;
            color: #4eb900;
        }
        &.xui_page_selected:hover{
            background: #4eb900;
            color: #fff;
        }
    }
    .xui_page_nav{
        border: none;
    }
    .xui_page_go{
        width: 40px;
        margin: 0;
        line-height: initial;
    }
}