* {
	padding: 0;
	margin: 0;
}

html {
	background-color: beige;
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
	font-size: 1.5rem;
	line-height: 2.5rem;
}

a {
	color: skyblue;
}
.xui_loading > div {
	width: 3em;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	margin: 0 .6em;
	-o-animation: .2s toToDown linear;
	animation: .2s toToDown linear;
	-webkit-animation: .2s toToDown linear;
}
h3 {
	margin: 20px 0;
	font-size: 40px;
	font-weight: bold;
}

ol li {
	margin: 6px 0;
	line-height: 24px;
}

/* loading */
.xui_loading {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	z-index: 9999;
}

.xui_part_loading {
	position: relative;
	height: auto;
	margin-bottom: 1em;
}

.xui_loading .fence {
	width: 4px;
	height: 2em;
	display: inline-block;
	background: #fff;
	-o-animation: fence 1.2s infinite ease-in-out;
	animation: fence 1.2s infinite ease-in-out;
	-webkit-animation: fence 1.2s infinite ease-in-out;
}

.xui_loading .fence1 {
	-webkit-animation-delay: -1.1s;
	-o-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.xui_loading .fence1 {
	-webkit-animation-delay: -1.0s;
	-o-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.xui_loading .fence2 {
	-webkit-animation-delay: -0.9s;
	-o-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.xui_loading .fence3 {
	-webkit-animation-delay: -0.8s;
	-o-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.xui_loading .fence4 {
	-webkit-animation-delay: -0.7s;
	-o-animation-delay: -0.7s;
	animation-delay: -0.7s;
}

.xui_loading .fence5 {
	-webkit-animation-delay: -0.6s;
	-o-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.xui_loading .fence6 {
	-webkit-animation-delay: -0.5s;
	-o-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

@-webkit-keyframes fence {
	0%,
	40%,
	100% {
		transform: scaleY(.4);
		-webkit-transform: scaleY(.4);
	}

	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

@-o-keyframes fence {
	0%,
	40%,
	100% {
		-o-transform: scaleY(.4);
		transform: scaleY(.4);
		-webkit-transform: scaleY(.4);
	}

	20% {
		-o-transform: scaleY(1.0);
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

@keyframes fence {
	0%,
	40%,
	100% {
		-o-transform: scaleY(.4);
		transform: scaleY(.4);
		-webkit-transform: scaleY(.4);
	}

	20% {
		-o-transform: scaleY(1.0);
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

/* 全屏滚动 */
#fullPage {
	color: #fff;
	display: none;
}

.time {
	font-size: 30px;
	letter-spacing: 10px;
}

.time b {
	font-size: 44px;
}

.li_full_page {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url('../images/bg.png');
}

.li_full_page > div:nth-child(n) > *:nth-child(n),
.li_full_page > div .item:nth-child(n) {
	-webkit-transform: translateX(-500%);
	-ms-transform: translateX(-500%);
	-o-transform: translateX(-500%);
	transform: translateX(-500%);
}

.li_full_page > div:nth-child(n) > *:nth-child(2n),
.li_full_page > div .item:nth-child(2n) {
	-webkit-transform: translateX(500%);
	-ms-transform: translateX(500%);
	-o-transform: translateX(500%);
	transform: translateX(500%);
}

.li_full_page > div:nth-child(2n) > *:nth-child(n) {
	-webkit-transform: translateX(-500%);
	-ms-transform: translateX(-500%);
	-o-transform: translateX(-500%);
	transform: translateX(-500%);
}

.li_full_page > div:nth-child(2n) > *:nth-child(2n) {
	-webkit-transform: translateX(500%);
	-ms-transform: translateX(500%);
	-o-transform: translateX(500%);
	transform: translateX(500%);
}

.li_full_page > div:nth-child(3n) > *:nth-child(2n) {
	-webkit-transform: translateY(-2500%);
	-ms-transform: translateY(-2500%);
	-o-transform: translateY(-2500%);
	transform: translateY(-2500%);
}

.li_full_page > div:nth-child(3n) > *:nth-child(2n + 1) {
	-webkit-transform: translateY(2500%);
	-ms-transform: translateY(2500%);
	-o-transform: translateY(2500%);
	transform: translateY(2500%);
}

.li_full_page > div:nth-child(4n) > *:nth-child(n) {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 0;
}

.li_full_page > div:nth-child(5n) > *:nth-child(2n + 1) {
	-webkit-transform: translate3d(0, 0, 0) rotate(180deg);
	transform: translate3d(0, 0, 0) rotate(180deg);
}

.li_full_page > div:nth-child(6n) > *:nth-child(2n + 1) {
	-webkit-transform: translate3d(0, 0, 0) rotate(0) scale(.5);
	transform: translate3d(0, 0, 0) rotate(0) scale(.5);
}

.li_full_page > div:nth-child(7n) > *:nth-child(2n + 1) {
	-webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1) skew(40deg, 70deg);
	transform: translate3d(0, 0, 0) rotate(0) scale(1) skew(40deg, 70deg);
}

.li_full_page > div:last-child > *:nth-child(2n + 1) {
	-webkit-transform: translate3d(200%, 1000%, 100px) rotate(0) scale(.5);
	transform: translate3d(200%, 1000%, 100px) rotate(0) scale(.5);
}

.li_full_page div.show_animation > *:nth-child(n),
.li_full_page div.show_animation .item:nth-child(n) {
	-webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1) skew(0, 0);
	transform: translate3d(0, 0, 0) rotate(0) scale(1) skew(0, 0);
	opacity: 1;
	-webkit-transition: 1s cubic-bezier(0.4, -0.57, 0.57, 1.23);
	-o-transition: 1s cubic-bezier(0.4, -0.57, 0.57, 1.23);
	transition: 1s cubic-bezier(0.4, -0.57, 0.57, 1.23);
	-webkit-transition-delay: .6s;
	-o-transition-delay: .6s;
	transition-delay: .6s;
}

.li_full_page > div span,
.item {
	position: relative;
	-webkit-transition: 1s cubic-bezier(0.4, -0.57, 0.57, 1.23);
	-o-transition: 1s cubic-bezier(0.4, -0.57, 0.57, 1.23);
	transition: 1s cubic-bezier(0.4, -0.57, 0.57, 1.23);
}

.li_full_page > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
	overflow: hidden;
}

.li_full_page .li_page::after {
	content: attr(data-page);
	position: absolute;
	right: 10%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 20px;
	border-radius: 50%;
	padding: .2em;
}

.first-page .first-position {
	position: absolute;
	right: 15%;
	bottom: 20%;
}
.first-page .first-person {
	position: absolute;
	right: 15%;
	bottom: 15%;
}
.first-page .first-date {
	position: absolute;
	right: 15%;
	bottom: 10%;
}

.triangle {
	position: relative;
}

.triangle .triangle-light,
.triangle .triangle-dark {
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-top-color: #561943;
	border-width: 14rem 7rem 7rem 7rem;
}

.triangle .triangle-light {
	position: absolute;
	left: -1rem;
	top: 0;
	bottom: 0;
	right: 0;
	border-top-color: #d93969;
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}

.triangle .catalog {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	line-height: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

code {
	padding: .15em;
	margin: 0;
	font-size: .85em;
	background-color: #3474d8;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.worklist {
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.worklist > div {
	width: 45%;
	margin-bottom: 20px;
}
.worklist > div label {
	margin-left: -35px;
	margin-bottom: 10px;
	display: inline-block;
	font-weight: bold;
	font-size: 24px;
}

.worklist ol {
	font-size: 1rem;
}

.item {
	width: 30rem;
	height: 5.3rem;
	line-height: 3.5rem;
	text-indent: 15rem;
	color: rgb(136, 133, 133);
	font-weight: bold;
	margin: 0 auto;
}

.item.item01 {
	background: url('../images/item01.png') no-repeat center center;
	background-size: contain;
}

.item.item02 {
	text-indent: 8rem;
	background: url('../images/item02.png') no-repeat center center;
	background-size: contain;
}

.item.item03 {
	background: url('../images/item03.png') no-repeat center center;
	background-size: contain;
}

.item.item04 {
	text-indent: 8rem;
	background: url('../images/item04.png') no-repeat center center;
	background-size: contain;
}

.big-font {
	/* font-family: Geneva, sans-serif; */
	font-size: 3.5rem;
	margin: 40px 0;
	text-shadow: -1px 1px 0px skyblue, 1px 1px 0px skyblue, 1px -1px 0px skyblue, -1px -1px 0px skyblue;
	font: bold 4rem/2 "Open Sans", sans-serif;
	letter-spacing: 10px;
}

.progress {
	width: 50%;
	margin: 1rem auto;
}

.progress-bar {
	height: 20px;
	width: 100%;
	border-radius: 20px;
	background-color: #ccc;
	text-align: center;
	position: relative;
}

.progress-bar div {
	width: 0%;
	height: 100%;
	border-radius: 20px;
	-webkit-transition: 1s 1s ease-in;
	-o-transition: 1s 1s ease-in;
	transition: 1s 1s ease-in;
}

.show_animation .progress-bar div {
	width: 100%;
	-webkit-transition: 1s 1s ease-in;
	-o-transition: 1s 1s ease-in;
	transition: 1s 1s ease-in;
}

.show_animation .progress-bar div.progress-color01{
  width: 100%;
  background-color: green;
}

.progress-color02 {
	background-color: crimson;
}

.progress-color03 {
	background-color: orange;
}

.progress-color04 {
	background-color: rgba(0, 255, 255, 0.51);
}

.progress-bar span {
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 20px;
	text-align: center;
	position: absolute !important;
	top: 0;
	left: 0;
	font-size: 16px;
	vertical-align: bottom;
}

.progress p {
	padding-top: 5px;
}

.tips {
	width: 50%;
	margin: 0 auto;
	line-height: 1.5em;
}
.emoji{
	perspective: 150;
	-webkit-perspective: 150;
	display: block;
}
.emoji img{
	display: block;
	animation: rotateAll 3s infinite linear;
	border-radius: 50%;
}
.first{
	font-size: 26px;
}
.first span{
	text-decoration: line-through;
}
.evaluate img {
	width: 70%;
	transition: 1s cubic-bezier(0.4, -0.57, 0.57, 1.23);
}

.future {
	width: 100%;
	line-height: 1.5em;
	text-align: center;
	transition: 1s cubic-bezier(0.4, -0.57, 0.57, 1.23);
}
.career-des {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	text-align: left;
}
.career-des .career-tit {
	font-size: 30px;
	margin-bottom: 20px;
}

.career-list {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 100px 0;
}
.career-list > div {
	position: relative;
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
}
.career-list > div::before {
	content: attr(data-attr);
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	margin: auto;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -50px;
}
.career-list > div::after {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	background: #b3d1ff;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -50px;
	transition: top 1s .5s cubic-bezier(0.4, 0, 1, 1);
}
.career-list > div:nth-child(1)::before {
	background: rgb(11, 173, 84);
}
.career-list > div:nth-child(2)::before {
	background: rgb(94, 29, 107);
}
.career-list > div:nth-child(3)::before {
	background: rgb(102, 38, 38);
}
.career-list > div:nth-child(4)::before {
	background: rgb(236, 34, 145);
}
.career-list > div:nth-child(5)::before {
	background: rgb(34, 146, 236);
}
.show_animation .career-list > div::after {
	transition: top 1.5s .8s cubic-bezier(0.4, 0, 1, 1);
}
.show_animation .career-list > div::after {
	top: -100px;
}
.amazingfont {
	width: 8ch;
	font: 200% monospace;
	border-right: 0.8rem solid;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 3s steps(4, end) 1s, blink-caret .5s step-end infinite alternate 1s;
}

@keyframes typing {
	from {
		width: 0;
	}
}
@keyframes blink-caret {
	50% {
		border-color: transparent;
	}
}

@keyframes rotateAll {
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 750px) {
	.worklist > div label {
		margin-left: 5px;
		margin-bottom: 0px;
		font-size: 1.2rem;
	}
	.worklist ol {
		font-size: 1rem;
		padding-left: 2rem;
	}
	.progress {
		width: 80%;
		margin: .3rem 0;
	}
	.progress p {
		font-size: 1rem;
		margin: 0;
	}
	.tips,
	.future {
		width: 80%;
		font-size: 1rem;
	}
	.time {
		font-size: 24px;
		letter-spacing: 6px;
	}

	.time b {
		font-size: 40px;
	}
	.career-list > div {
		margin: 1rem;
	}
}
