html{
    background-color: beige;
}
body{
    padding: 0;
    margin: 0;;
}

.xui_loading > div{
    width: 3em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 .6em;
    animation: .2s toToDown linear;
    -webkit-animation: .2s toToDown linear;
}


/* loading */
.xui_loading{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 9999;
}
.xui_part_loading{
    position: relative;
    height: auto;
    margin-bottom: 1em;
}
.xui_loading .fence{
    width: 4px;
    height: 2em;
    display: inline-block;
    background: #fff;
    animation: fence 1.2s infinite ease-in-out;
    -webkit-animation: fence 1.2s infinite ease-in-out;
}
.xui_loading .fence1{
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
}
.xui_loading .fence1{
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
}
.xui_loading .fence2{
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
}
.xui_loading .fence3{
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
}
.xui_loading .fence4{
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
}
.xui_loading .fence5{
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
}
.xui_loading .fence6{
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
}
@-webkit-keyframes fence{
    0%,40%,100%{
        transform: scaleY(.4);
        -webkit-transform: scaleY(.4);
    }
    20%{
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
@keyframes fence{
    0%,40%,100%{
        transform: scaleY(.4);
        -webkit-transform: scaleY(.4);
    }
    20%{
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* 全屏滚动 */
#fullPage{
    font-size: 20px;
    color: #fff;
    display: none;
}
.time{
    font-size: 14px;
}
.time b{
    font-size: 24px;
}
.li_full_page{
    width: 100%;
    height: 100%;
    position: fixed;
}
.li_full_page > div:nth-child(n) span:nth-child(n){
    transform: translateX(-500%);
}
.li_full_page > div:nth-child(n) span:nth-child(2n){
    transform: translateX(500%);
}
.li_full_page > div:nth-child(2n) span:nth-child(n){
    transform: translateX(-500%);
}
.li_full_page > div:nth-child(2n) span:nth-child(2n){
    transform: translateX(500%);
}
.li_full_page > div:nth-child(3n) span:nth-child(2n){
    transform: translateY(-2500%);
}
.li_full_page > div:nth-child(3n) span:nth-child(2n+1){
    transform: translateY(2500%);
}
.li_full_page > div:nth-child(4n) span:nth-child(n){
    transform: translate3d(0, 0, 0);
    opacity: 0;
}
.li_full_page > div:nth-child(5n) span:nth-child(2n+1){
    transform: translate3d(0, 0, 0) rotate(180deg);
}
.li_full_page > div:nth-child(6n) span:nth-child(2n+1){
    transform: translate3d(0, 0, 0) rotate(0) scale(.5);
}
.li_full_page > div:nth-child(7n) span:nth-child(2n+1){
    transform: translate3d(0, 0, 0) rotate(0) scale(1) skew(40deg, 70deg);
}
.li_full_page > div:last-child span:nth-child(2n+1){
    transform: translate3d(200%, 1000%, 100px) rotate(0) scale(.5);
}


.li_full_page div.show_animation span:nth-child(n){
    transform: translate3d(0, 0, 0) rotate(0) scale(1) skew(0, 0);
    opacity: 1;
    transition: 1s cubic-bezier(0.4, -0.57, 0.57, 1.23);
    transition-delay: .6s;
}
.li_full_page > div span{
    position: relative;
    transition: 1s cubic-bezier(0.4, -0.57, 0.57, 1.23);
}
.li_full_page > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    overflow: hidden;
}
.li_full_page .li_page::after{
    content: attr(data-page);
    position: absolute;
    right: 10%;
    top: 20%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 14px;
    border-radius: 50%;
    padding: .2em;
}